<div class="grid-container">
    <div *ngIf="items.length === 0" style="text-align: center; margin-top: 20px;">
        <p style="font-size: larger; font-weight: bold;">No items available.</p>
    </div>

    <div class="card" *ngFor="let item of items">
      <img [src]="item.imageUrl" alt="Item image" class="item-image">
      <div class="card-content">
        <h2>{{ item.name }}</h2>
        <p class="category">{{ item.category }}</p>
        <p>{{ item.description }}</p>
        <div class="price-quantity">
          <span>${{ item.price }}</span>
          <span>Quantity: {{ item.quantity }}</span>
        </div>
      </div>
    </div>
</div>